<div data-slot="alert-description"
     class="@CssUtils.Cn(
         "col-start-2 text-sm text-muted-foreground [&_p]:leading-relaxed",
         "[&_a]:underline [&_a]:underline-offset-3 [&_a]:hover:text-foreground",
         Class)"
     @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
