@using Daeha.RnUI.Demo.Wasm.Models

@code {
    public static ComponentDemo GetDemo() => new(
        "Sheet", "sheet", "Extends the Dialog component to display content that complements the main content of the screen.",
        Demo: @<div>
                <RnButton Variant="ButtonVariant.Outline">Open Sheet</RnButton>
            </div>,
        Thumbnail: @<RnButton Size="ButtonSize.Sm" Variant="ButtonVariant.Outline">Open Sheet</RnButton>,
        Code: @"<RnButton Variant=""ButtonVariant.Outline"" OnClick=""() => _open = true"">Open Sheet</RnButton>
<RnSheet @bind-Open=""_open"" Side=""Side.Right"">
    <RnSheetHeader>
        <RnSheetTitle>Edit profile</RnSheetTitle>
        <RnSheetDescription>
            Make changes to your profile here. Click save when you're done.
        </RnSheetDescription>
    </RnSheetHeader>
    <div class=""grid gap-4 px-4"">
        <div class=""grid grid-cols-4 items-center gap-4"">
            <RnLabel Class=""text-right"">Name</RnLabel>
            <RnInput Value=""Pedro Duarte"" Class=""col-span-3"" />
        </div>
        <div class=""grid grid-cols-4 items-center gap-4"">
            <RnLabel Class=""text-right"">Username</RnLabel>
            <RnInput Value=""@@peduarte"" Class=""col-span-3"" />
        </div>
    </div>
    <RnSheetFooter>
        <RnButton OnClick=""() => _open = false"">Save changes</RnButton>
    </RnSheetFooter>
</RnSheet>

@code {
    private bool _open;
}",
        UsageCode: @"@using RnUI.Components.UI.Sheet

<RnSheet @bind-Open=""_open"" Side=""Side.Right"">
    <RnSheetHeader>
        <RnSheetTitle>Title</RnSheetTitle>
    </RnSheetHeader>
    Content
</RnSheet>

@code {
    private bool _open;
}"
    );
}
