<!DOCTYPE html>
<html lang="ko" class="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Daeha.RnUI/css/shadcn.css" />
    <link rel="stylesheet" href="css/output.css" />
    <HeadOutlet @rendermode="@RenderMode.InteractiveServer" />
</head>

<body class="min-h-screen bg-background text-foreground antialiased">
    <Routes @rendermode="@RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
