@using Daeha.RnUI.Demo.Wasm.Models

@code {
    public static ComponentDemo GetDemo() => new(
        "Tabs", "tabs", "A set of layered sections of content, displayed one at a time.",
        Demo: @<div class="flex w-full max-w-sm flex-col gap-6">
                <RnTabs ActiveTab="account">
                    <RnTabsList>
                        <RnTabsTrigger Value="account">Account</RnTabsTrigger>
                        <RnTabsTrigger Value="password">Password</RnTabsTrigger>
                    </RnTabsList>
                    <RnTabsContent Value="account">
                        <RnCard>
                            <RnCardHeader>
                                <RnCardTitle>Account</RnCardTitle>
                                <RnCardDescription>Make changes to your account here. Click save when you're done.</RnCardDescription>
                            </RnCardHeader>
                            <RnCardContent Class="grid gap-6">
                                <div class="grid gap-3">
                                    <RnLabel For="tabs-demo-name">Name</RnLabel>
                                    <RnInput id="tabs-demo-name" Value="Pedro Duarte" />
                                </div>
                                <div class="grid gap-3">
                                    <RnLabel For="tabs-demo-username">Username</RnLabel>
                                    <RnInput id="tabs-demo-username" Value="@("@peduarte")" />
                                </div>
                            </RnCardContent>
                            <RnCardFooter>
                                <RnButton>Save changes</RnButton>
                            </RnCardFooter>
                        </RnCard>
                    </RnTabsContent>
                    <RnTabsContent Value="password">
                        <RnCard>
                            <RnCardHeader>
                                <RnCardTitle>Password</RnCardTitle>
                                <RnCardDescription>Change your password here. After saving, you'll be logged out.</RnCardDescription>
                            </RnCardHeader>
                            <RnCardContent Class="grid gap-6">
                                <div class="grid gap-3">
                                    <RnLabel For="tabs-demo-current">Current password</RnLabel>
                                    <RnInput id="tabs-demo-current" Type="password" />
                                </div>
                                <div class="grid gap-3">
                                    <RnLabel For="tabs-demo-new">New password</RnLabel>
                                    <RnInput id="tabs-demo-new" Type="password" />
                                </div>
                            </RnCardContent>
                            <RnCardFooter>
                                <RnButton>Save password</RnButton>
                            </RnCardFooter>
                        </RnCard>
                    </RnTabsContent>
                </RnTabs>
            </div>,
        Thumbnail: @<div class="text-xs text-muted-foreground">Tabs</div>,
        Code: @"<RnTabs @bind-ActiveTab=""_activeTab"">
    <RnTabsList>
        <RnTabsTrigger Value=""account"">Account</RnTabsTrigger>
        <RnTabsTrigger Value=""password"">Password</RnTabsTrigger>
    </RnTabsList>
    <RnTabsContent Value=""account"">
        <RnCard>
            <RnCardHeader>
                <RnCardTitle>Account</RnCardTitle>
                <RnCardDescription>
                    Make changes to your account here. Click save when you're done.
                </RnCardDescription>
            </RnCardHeader>
            <RnCardContent Class=""grid gap-6"">
                <div class=""grid gap-3"">
                    <RnLabel For=""name"">Name</RnLabel>
                    <RnInput id=""name"" Value=""Pedro Duarte"" />
                </div>
                <div class=""grid gap-3"">
                    <RnLabel For=""username"">Username</RnLabel>
                    <RnInput id=""username"" Value=""@peduarte"" />
                </div>
            </RnCardContent>
            <RnCardFooter>
                <RnButton>Save changes</RnButton>
            </RnCardFooter>
        </RnCard>
    </RnTabsContent>
    <RnTabsContent Value=""password"">
        <RnCard>
            <RnCardHeader>
                <RnCardTitle>Password</RnCardTitle>
                <RnCardDescription>
                    Change your password here. After saving, you'll be logged out.
                </RnCardDescription>
            </RnCardHeader>
            <RnCardContent Class=""grid gap-6"">
                <div class=""grid gap-3"">
                    <RnLabel For=""current"">Current password</RnLabel>
                    <RnInput id=""current"" Type=""password"" />
                </div>
                <div class=""grid gap-3"">
                    <RnLabel For=""new"">New password</RnLabel>
                    <RnInput id=""new"" Type=""password"" />
                </div>
            </RnCardContent>
            <RnCardFooter>
                <RnButton>Save password</RnButton>
            </RnCardFooter>
        </RnCard>
    </RnTabsContent>
</RnTabs>

@code {
    private string _activeTab = ""account"";
}",
        UsageCode: @"@using RnUI.Components.UI.Tabs

<RnTabs @bind-ActiveTab=""_tab"">
    <RnTabsList>
        <RnTabsTrigger Value=""a"">Tab A</RnTabsTrigger>
        <RnTabsTrigger Value=""b"">Tab B</RnTabsTrigger>
    </RnTabsList>
    <RnTabsContent Value=""a"">Content A</RnTabsContent>
    <RnTabsContent Value=""b"">Content B</RnTabsContent>
</RnTabs>

@code {
    private string _tab = ""a"";
}"
    );
}
