@using Daeha.RnUI.Demo.Wasm.Models

@code {
    public static ComponentDemo GetDemo() => new(
        "Hover Card", "hover-card", "For sighted users to preview content available behind a link.",
        Demo: @<RnHoverCard>
            <Trigger>
                <RnButton Variant="ButtonVariant.Link">@@nextjs</RnButton>
            </Trigger>
            <ChildContent>
                <div class="flex justify-between space-x-4">
                    <RnAvatar>
                        <RnAvatarFallback>VC</RnAvatarFallback>
                    </RnAvatar>
                    <div class="space-y-1">
                        <h4 class="text-sm font-semibold">@@nextjs</h4>
                        <p class="text-sm">The React Framework - created and maintained by @@vercel.</p>
                        <div class="flex items-center pt-2">
                            <RnIcon Icon="RnIcons.Calendar" Size="12" CssClass="mr-2 opacity-70" />
                            <span class="text-xs text-muted-foreground">Joined December 2021</span>
                        </div>
                    </div>
                </div>
            </ChildContent>
        </RnHoverCard>,
        Thumbnail: @<RnButton Size="ButtonSize.Sm" Variant="ButtonVariant.Link">@@nextjs</RnButton>,
        Code: @"<RnHoverCard>
    <Trigger>
        <RnButton Variant=""ButtonVariant.Link"">@@nextjs</RnButton>
    </Trigger>
    <ChildContent>
        <div class=""flex justify-between space-x-4"">
            <RnAvatar>
                <RnAvatarFallback>VC</RnAvatarFallback>
            </RnAvatar>
            <div class=""space-y-1"">
                <h4 class=""text-sm font-semibold"">@@nextjs</h4>
                <p class=""text-sm"">The React Framework - created and maintained by @@vercel.</p>
            </div>
        </div>
    </ChildContent>
</RnHoverCard>",
        UsageCode: @"@using RnUI.Components.UI.HoverCard

<RnHoverCard>
    <Trigger>Hover target</Trigger>
    <ChildContent>Popup content</ChildContent>
</RnHoverCard>"
    );
}
