@using Daeha.RnUI.Demo.Wasm.Models

@code {
    public static ComponentDemo GetDemo() => new(
        "Kbd", "kbd", "Displays a keyboard key or shortcut.",
        Demo: @<div class="flex flex-col items-center gap-4">
            <RnKbdGroup>
                <RnKbd>⌘</RnKbd>
                <RnKbd>⇧</RnKbd>
                <RnKbd>⌥</RnKbd>
                <RnKbd>⌃</RnKbd>
            </RnKbdGroup>
            <RnKbdGroup>
                <RnKbd>Ctrl</RnKbd>
                <span>+</span>
                <RnKbd>B</RnKbd>
            </RnKbdGroup>
        </div>,
        Thumbnail: @<div class="flex gap-1">
            <RnKbd>⌘</RnKbd><RnKbd>K</RnKbd>
        </div>,
        Code: @"<RnKbdGroup>
    <RnKbd>⌘</RnKbd>
    <RnKbd>⇧</RnKbd>
    <RnKbd>⌥</RnKbd>
    <RnKbd>⌃</RnKbd>
</RnKbdGroup>
<RnKbdGroup>
    <RnKbd>Ctrl</RnKbd>
    <span>+</span>
    <RnKbd>B</RnKbd>
</RnKbdGroup>",
        UsageCode: @"<RnKbdGroup>
    <RnKbd>Ctrl</RnKbd>
    <span>+</span>
    <RnKbd>K</RnKbd>
</RnKbdGroup>"
    );
}
