@* RnRadioGroup component - Blazor port of shadcn/ui RnRadioGroup *@

<div data-slot="radio-group" role="radiogroup"
     class="@CssUtils.Cn("cn-radio-group", Class)"
     @attributes="AdditionalAttributes">
    <CascadingValue Value="@_context" IsFixed="false">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private RadioGroupContext _context = null!;

    protected override void OnParametersSet()
    {
        _context = new RadioGroupContext(this, Value);
    }

    internal async Task SelectValue(string value)
    {
        Value = value;
        _context = new RadioGroupContext(this, Value);
        StateHasChanged();
        await ValueChanged.InvokeAsync(value);
    }
}
