@using Daeha.RnUI.Demo.Wasm.Models

@code {
    public static ComponentDemo GetDemo() => new(
        "Input", "input", "Displays a form input field or a component that looks like an input field.",
        Demo: @<RnInput Type="email" Placeholder="Email" Class="max-w-sm" />,
        Thumbnail: @<div class="w-[160px]">
                <RnInput Placeholder="Email" />
            </div>,
        Code: @"<RnInput Type=""email"" Placeholder=""Email"" />",
        UsageCode: @"<RnInput Type=""email"" Placeholder=""Email"" />",
        Examples:
        [
            new("Disabled", null,
                @<RnInput Disabled="true" Type="email" Placeholder="Email" Class="max-w-sm" />,
                @"<RnInput Disabled=""true"" Type=""email"" Placeholder=""Email"" />"),
            new("With Label", null,
                @<div class="grid w-full max-w-sm items-center gap-3">
                    <RnLabel For="email">Email</RnLabel>
                    <RnInput Type="email" id="email" Placeholder="Email" />
                </div>,
                @"<div class=""grid w-full max-w-sm items-center gap-3"">
    <RnLabel For=""email"">Email</RnLabel>
    <RnInput Type=""email"" id=""email"" Placeholder=""Email"" />
</div>"),
            new("File", null,
                @<div class="grid w-full max-w-sm items-center gap-3">
                    <RnLabel For="picture">Picture</RnLabel>
                    <RnInput id="picture" Type="file" />
                </div>,
                @"<div class=""grid w-full max-w-sm items-center gap-3"">
    <RnLabel For=""picture"">Picture</RnLabel>
    <RnInput id=""picture"" Type=""file"" />
</div>"),
            new("With Button", null,
                @<div class="flex w-full max-w-sm items-center gap-2">
                    <RnInput Type="email" Placeholder="Email" />
                    <RnButton Type="submit" Variant="ButtonVariant.Outline">Subscribe</RnButton>
                </div>,
                @"<div class=""flex w-full max-w-sm items-center gap-2"">
    <RnInput Type=""email"" Placeholder=""Email"" />
    <RnButton Type=""submit"" Variant=""ButtonVariant.Outline"">Subscribe</RnButton>
</div>")
        ]
    );
}
