@using Daeha.RnUI.Demo.Wasm.Models

@code {
    public static ComponentDemo GetDemo() => new(
        "Alert", "alert", "Displays a callout for important information.",
        Demo: @<div class="w-full max-w-lg space-y-4">
            <RnAlert>
                <Icon>
                    <RnIcon Icon="RnIcons.Lightbulb" Size="16" />
                </Icon>
                <ChildContent>
                    <RnAlertTitle>Heads up!</RnAlertTitle>
                    <RnAlertDescription>You can add components to your app using the CLI.</RnAlertDescription>
                </ChildContent>
            </RnAlert>
            <RnAlert Variant="AlertVariant.Destructive">
                <Icon>
                    <RnIcon Icon="RnIcons.CircleAlert" Size="16" />
                </Icon>
                <ChildContent>
                    <RnAlertTitle>Error</RnAlertTitle>
                    <RnAlertDescription>Your session has expired. Please log in again.</RnAlertDescription>
                </ChildContent>
            </RnAlert>
        </div>,
        Thumbnail: @<div class="w-[200px]">
            <RnAlert>
                <RnAlertTitle>Heads up!</RnAlertTitle>
                <RnAlertDescription>Important info.</RnAlertDescription>
            </RnAlert>
        </div>,
        Code: @"<RnAlert>
    <Icon>
        <svg><!-- lightbulb icon --></svg>
    </Icon>
    <ChildContent>
        <RnAlertTitle>Heads up!</RnAlertTitle>
        <RnAlertDescription>
            You can add components to your app using the CLI.
        </RnAlertDescription>
    </ChildContent>
</RnAlert>

<RnAlert Variant=""AlertVariant.Destructive"">
    <Icon>
        <svg><!-- alert icon --></svg>
    </Icon>
    <ChildContent>
        <RnAlertTitle>Error</RnAlertTitle>
        <RnAlertDescription>Your session has expired.</RnAlertDescription>
    </ChildContent>
</RnAlert>",
        UsageCode: @"@using RnUI.Components.UI.Alert

<RnAlert>
    <Icon><MyIcon /></Icon>
    <ChildContent>
        <RnAlertTitle>Title</RnAlertTitle>
        <RnAlertDescription>Description</RnAlertDescription>
    </ChildContent>
</RnAlert>"
    );
}
