<button data-slot="sidebar-menu-action"
        data-sidebar="menu-action"
        class="@CssUtils.Cn("cn-sidebar-menu-action", ShowOnHover ? "cn-sidebar-menu-action-hover" : null, Class)"
        @onclick="OnClick"
        @attributes="AdditionalAttributes">
    @ChildContent
</button>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool ShowOnHover { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
