<button data-slot="sidebar-trigger"
        class="@CssUtils.Cn("cn-sidebar-trigger", Class)"
        @onclick="HandleClick"
        @attributes="AdditionalAttributes">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <rect width="18" height="18" x="3" y="3" rx="2"/>
        <path d="M9 3v18"/>
    </svg>
    <span class="sr-only">Toggle Sidebar</span>
</button>

@code {
    [CascadingParameter] public RnSidebarProvider? Provider { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private async Task HandleClick()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync();
        }
        if (Provider is not null)
        {
            await Provider.ToggleSidebar();
        }
    }
}
