@inject IJSRuntime JS

<RnButton Variant="ButtonVariant.Ghost" Size="ButtonSize.IconSm" OnClick="ToggleTheme">
    @if (_isDark)
    {
        <RnIcon Icon="RnIcons.Sun" Size="16" />
    }
    else
    {
        <RnIcon Icon="RnIcons.Moon" Size="16" />
    }
    <span class="sr-only">Toggle theme</span>
</RnButton>

@code {
    private bool _isDark = true;

    private async Task ToggleTheme()
    {
        _isDark = !_isDark;
        if (_isDark)
        {
            await JS.InvokeVoidAsync("document.documentElement.classList.add", "dark");
        }
        else
        {
            await JS.InvokeVoidAsync("document.documentElement.classList.remove", "dark");
        }
    }
}
