@using System.ComponentModel.DataAnnotations

<div class="flex flex-col gap-6">
    <RnCard>
        <RnCardHeader>
            <RnCardTitle>Login to your account</RnCardTitle>
            <RnCardDescription>Enter your email below to login to your account</RnCardDescription>
        </RnCardHeader>
        <RnCardContent>
            <EditForm Model="_model" FormName="login-01-form" OnValidSubmit="HandleSubmit">
                <div class="flex w-full flex-col gap-7">
                    <div class="flex w-full flex-col gap-3">
                        <RnLabel For="login01-email">Email</RnLabel>
                        <RnInput Id="login01-email" Type="email" Placeholder="m@example.com"
                                 @bind-Value="_model.Email" required />
                    </div>
                    <div class="flex w-full flex-col gap-3">
                        <div class="flex items-center">
                            <RnLabel For="login01-password">Password</RnLabel>
                            <a href="#" class="ml-auto inline-block text-sm underline-offset-4 hover:underline">
                                Forgot your password?
                            </a>
                        </div>
                        <RnInput Id="login01-password" Type="password"
                                 @bind-Value="_model.Password" required />
                    </div>
                    <div class="flex w-full flex-col gap-3">
                        <RnButton Type="submit" Class="w-full" Disabled="_isLoading">
                            @if (_isLoading)
                            {
                                <RnSpinner Class="mr-2" />
                                <span>Logging in...</span>
                            }
                            else
                            {
                                <span>Login</span>
                            }
                        </RnButton>
                        <RnButton Variant="ButtonVariant.Outline" Class="w-full" Type="button">
                            Login with Google
                        </RnButton>
                        <p class="text-center text-sm leading-normal text-muted-foreground [&>a]:underline [&>a]:underline-offset-4 [&>a:hover]:text-primary">
                            Don&apos;t have an account? <a href="#">Sign up</a>
                        </p>
                    </div>
                </div>
            </EditForm>
        </RnCardContent>
    </RnCard>
</div>

@code {
    private LoginModel _model = new();
    private bool _isLoading;

    private async Task HandleSubmit()
    {
        _isLoading = true;
        StateHasChanged();

        await Task.Delay(1500);

        _isLoading = false;
        StateHasChanged();
    }

    private sealed class LoginModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        public string Password { get; set; } = "";
    }
}
